<html>
    <head>
    
        <title>Hashtag</title>
        <link rel='stylesheet' href='/stylesheets/hashtag.css' type="text/css"/>
        <link rel='stylesheet' href='/stylesheets/nav.css' type="text/css"/>
    </head>

    <
    <header>
       
     <nav>
        <div class="main">
          <div class="logo">
          
          <img src="/images/logo.jpg">
            
          <ul>

            <li><a href="/">Home</a></li>
            <li class="active"><a href="/hashtag">Hashtags</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/share">Share</a></li>
          </ul>
    
         </div>
        </div>
     </nav>
 <body>

        <div id = "sidebar">
            <div class = "toggle-btn" onclick="togglesidebar()">
                <span><br><br><h1>Hashtags</h1></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                <li><a href = "/"><font size="4" color = "white">#MeToo</font></a></li>
                <li><a href = "/"><font size="4" color = "white">#FightBack</font></a></li>
                <li><a href = "/"><font size="4" color = "white">#I'mWithHer</font></a></li>
                <li><a href = "/"><font size="4" color = "white">#NoMore</font></a></li>
                <li><a href = "/"><font size="4" color = "white">#TimesUp</font></a></li>
                <li><a href = "/"><font size="4" color = "white">#IWalkFreely</font></a></li>
            </ul>
        </div>
        <script src="javascripts/hashtag.js"></script>
    </body>
</html>