<html>
    <head>
        <title>Aawaaj</title>

        <link rel='stylesheet' href='/stylesheets/index.css' type="text/css"/>
	    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="footer, address, phone, icons" />

		<link rel="stylesheet" href="css/demo.css">
		<link rel="stylesheet" href="css/footer-distributed-with-address-and-phones.css">

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">


		<link rel='stylesheet' href='/stylesheets/index.css' type="text/css"/>
		<link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet"/>
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src = "javascripts/home.js" type="text/javascript"></script>



        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	       

 <body>

	   	<header>
    		<nav>
    		<div class="main">
    			<div class="logo">
    				<img src="/images/logo.jpg">


                 <ul>
    				<li class="active"><a href="/"><font color = "black">Home</font></a></li>
    				<li class="active"><a href="/hashtag"><font color = "black">Hashtags</font></a></li>
    				<li class="active"><a href="/resources"><font color = "black">Resources</font></a></li>
    				<li class="active"><a href="/share"><font color = "black">Share</font></a></li>
    			 </ul>
    		    </div>
    		</div>
    	    </nav>

    		<div class="title">
    			<h1><center>Movement Against Harassment</center></h1>

    		</div>


			
			<!--<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
					 <input type="text" placeholder="Search.." name="search2">
					<button type="submit"><i class="fa fa-search"></i></button>
			</form>!-->



    		<div class="button">

    		        <a href="#features"class="btn">FEATURES</a>

    				<a href="#glimpse"class="btn">GLIMPSE</a>

    		</div>
       </header>

                 <section class="s1"></section>
		    <section class="content">
				    
				  <div class="features" id="features" >
					      <h1>FEATURES</h1>

				    <span class="border"></span>
				  <div class="ps">
					<a href="#hashh"><img src="/images/hashh.jpg" alt=""></a>
					<a href="#res"><img src="/images/res.jpg" alt=""></a>
					<a href="#trending"><img src="/images/trending.jpg" alt=""></a>
					<a href="#share"><img src="/images/share.jpg" alt=""></a>
				  </div>

				<div class="section" id="hashh">
					<span class="name">Hashtags</span>
					<span class="border"></span>
					<p>
						Hashtags contains all the tags on social media against harassment.
					</p>
				</div>

				<div class="section" id="res">
					<span class="name">Resources</span>
					<span class="border"></span>
					<p>
						Resources contains self defense techniques and tips that help against harassment.
					</p>
				</div>

				<div class="section" id="trending">
					<span class="name">Trending</span>
					<span class="border"></span>
					<p>
						Trending segment contains all the highlighted tweets,posts from the hashtags segment.
					</p>
				</div>

    <div class="section" id="share">
		<span class="name">Share</span>
		<span class="border"></span>
		<p>
			You can share your experience and are listed in share your story segment  .
		</p>
	</div>
</div>

</section>









<section class="content">
<div class="GLIMPSE" id="glimpse">
	<h1>GLIMPSE</h1>
	   <span class="border"></span>


       <div class="container">
		  <br>
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
		    <!-- Indicators -->
		    <ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		      <li data-target="#myCarousel" data-slide-to="3"></li>
		    </ol>

		    <!-- Wrapper for slides -->
		    <div class="carousel-inner" role="listbox">

			      <div class="item active">
			        <img src="/images/index1.jpg" alt="Chania" width="100%" height="600">
			      </div>

			      <div class="item">
			        <img src="/images/movement.jpg" alt="Chania" width="100%" height="600">
			        <div class="carousel-caption">
			        </div>
			      </div>
			    
			      <div class="item">
			        <img src="images/fback.jpg" alt="Flower" width="100%" height="600">
			      </div>

			       <div class="item">
			        <img src="images/protest.jpg" alt="chania" width="100%" height="600">
			      </div>


		    </div>

		    <!-- Left and right controls -->
		    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		      <span class="sr-only">Previous</span>
		    </a>
		    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		      <span class="sr-only">Next</span>
		    </a>
		  </div>
		</div>


</div>
</section>

		 
	<!--<div class="ps">
		<img src="/images/index1.jpg" width="480" height="400">
		<img src="/images/fback.jpg" width="530" height="400">
		<img src="/images/movement.jpg" width="480" height="400">
    </div>
    </div>
</section>-->


		<!-- The content of your page would go here. -->

		<footer class="footer-distributed">

			<div class="footer-left">

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">WLIT &copy; 2013</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Women Leaders In Technology</span> Sanepa, Kathmandu</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>01-5242264</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:subedisapana10@gmail.com">support our orginazation</a></p>
				</div>

			</div>

			<div class="footer-right">

				    <p class="footer-company-about">
					    <span>About the organization</span>
					<p>
						WLiT offers a year long fellowship for passionate female tech students . It is designed to assemble a unique cohort of high-potential and skilled leaders.

				    </p>

					<div class="footer-icons">

						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-github"></i></a>

					</div>


            </div>


					<!-- Footer -->
					<footer class="page-footer font-small blue">

					<!-- Copyright -->
					<div class="footer-copyright text-center py-3">© 2018 Copyright:
					<a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
					</div>
					<!-- Copyright -->

					</footer>
					<!-- Footer -->

		
  </footer>


</body>
</html>
