
<html>
    <head>
        <title>Aawaaj</title>
        <link rel='stylesheet' href='/stylesheets/index.css' type="text/css"/>
        <script type="text/javascript">
        	$(window).on('scroll',function(){
        		if ($(window).scrollTop()){
        			$('nav').addclass('black');
        		}
        		else{
        			$('nav').removeclass('black');
        		}

        	})
        </script>

    </head>
    
    	<header>
    		<nav>
    		<div class="main">
    			<div class="logo">
<<<<<<< HEAD
    				
=======
    			
>>>>>>> e27af2756a77c85d796ec0c41968e369a73a2a8e
    				<img src="/images/logo.jpg">
    			<ul>
    				<li class="active"><a href="#">Home</a></li>
    				<li><a href="#">Services</a></li>
    				<li><a href="#">Gallery</a></li>
    				<li><a href="#">About</a></li>
    				<li><a href="#">Contact</a></li>
    			</ul>
<<<<<<< HEAD
    			
=======
    
>>>>>>> e27af2756a77c85d796ec0c41968e369a73a2a8e
    		</div>
    	</nav>
 
    		<div class="title">
    			<h1>Movement Against Harassment</h1>
    			
    		</div>
    		<div class="button">
    		</section>
    		        <a href="#"class="btn">FEATURES</a>
    			
    				<a href="#"class="btn">LEARN MORE</a>
    			
    		</div>
 </header>

 <body>
 	<section >
<div class="features" >
	<h1>Features</h1>
	<span class="border"></span>
	<div class="ps">
		<a href="#hashh"><img src="/images/hashh.jpg" alt=""></a>
		<a href="#res"><img src="/images/res.jpg" alt=""></a>
		<a href="#trending"><img src="/images/trending.jpg" alt=""></a>
		<a href="#share"><img src="/images/share.jpg" alt=""></a>
	</div>

	<div class="section" id="hashh">
		<span class="name">Hashtags</span>
		<span class="border"></span>
		<p>
			Hashtags contains all the tags on social media against harassment.
		</p>
	</div>



	<div class="section" id="res">
		<span class="name">Resources</span>
		<span class="border"></span>
		<p>
			Resources .
		</p>
	</div>


	<div class="section" id="trending">
		<span class="name">Trending</span>
		<span class="border"></span>
		<p>
			Trending segment contains all the highlighted tweets,posts from the hashtags segment.
		</p>
	</div>
 


    <div class="section" id="share">
		<span class="name">Share</span>
		<span class="border"></span>
		<p>
			You can share your experience too and are listed in share your story  segment  .
		</p>
	</div>
 
 
 
</div>
</section>
</body>



    		
</html>