<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='/stylesheets/resources.css' type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src = "javascripts/resources.js" type="text/javascript"></script>
</head>
<body>
<div class="wrapper">
    <nav>
        <div class="aawaaj">AAWAAJ</div>
        <ul>
                <li><a href="default.asp">Home</a></li>
                <li><a href="news.asp">News</a></li>
                <li><a href="contact.asp">Contact</a></li>
                <li><a href="about.asp">About</a></li>
              </ul>
    </nav>
    <section class="sec1"></section>
    <section class="content">
      <p><h1><center>Self-Defense Techniques for Women Recommended by a Professional</center></h1><br>
        <center><font size = "5">1. For starters, memorize the vulnerable places.</font><br>
        <img src="/images/img4.jpg"><br></center></p>
        <p>It doesn’t matter how big or heavy your attacker is because you can beat anyone 
           if you know where the most vulnerable spots are.The main ones are the eyes, nose,
           throat, chest, knees, and groin.You can attack in any way you want, but to be on 
           the safe side, you need to remember that the most effective moves are aimed at these areas.
      </p><br>

        <center><font size = "5">2. The simplest and most effective moves.</font><br>
        <img src="/images/img5.jpg"><br></center>
        <p>
            One of the best moves that will make any giant whimper or drop to his knees is grabbing the wrist. 
            Grab his little finger and his ring finger with one hand, and his middle and index finger with 
            the other and bend the wrist forward.If you can’t grab your opponent’s hand, hit him with a fist
            or with a finger between the collarbones or into his Adam’s apple. This will allow you to disorient
            your opponent enough that it will take him a long time to come back to his senses.
      </p>
        <center><img src="/images/img6.jpg"></center><br><br>
      <center><font size = "5">3. If you were grabbed from the front:</font><br>
        <img src="/images/img7.jpg"><br></center>
        <p>If you were grabbed from the front and you can’t lift your hands, do the following: 
          move your hands forward and make a fist in front of your pelvis. This will create enough
          room between you and the attacker.After that, hit the attacker’s nose with your forehead. 
          This will make the attacker move away from you. Now hit him in the groin with your knee.
      </p>
    </section>
    <!--
<div class="footer">
  <p>&copy;2018 Aawaaj All rights reserved</p>
</div>
</div>
-->
</body>
</html>
