<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='/stylesheets/resources.css' type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet"/>
<link rel='stylesheet' href='/stylesheets/nav.css' type="text/css"/>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src = "javascripts/resources.js" type="text/javascript"></script>
</head>
 <header>
        <nav>
        <div class="main">
          <div class="logo">
          
            
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/hashtag">Hashtags</a></li>
            <li class="active"><a href="/resources">Resources</a></li>
            <li><a href="/share">Share</a></li>
          </ul>
    
        </div>
      </nav>
<body>
<div class="wrapper">
    <!-- <nav>
        <div class="aawaaj">AAWAAJ</div>
        <ul>
                <li><a href="default.asp">Home</a></li>
                <li><a href="news.asp">News</a></li>
                <li><a href="contact.asp">Contact</a></li>
                <li><a href="about.asp">About</a></li>
              </ul>
    </nav> -->
    <section class="sec1"></section>
    <section class="content">
      <p><h1><center>Self-Defense Techniques for Women Recommended by a Professional</center></h1><br>
        <center><font size = "5">1. For starters, memorize the vulnerable places.</font><br><br>
        <img src="/images/img4.jpg"><br></center></p>
        <p>It doesn’t matter how big or heavy your attacker is because you can beat anyone 
           if you know where the most vulnerable spots are.The main ones are the eyes, nose,
           throat, chest, knees, and groin.You can attack in any way you want, but to be on 
           the safe side, you need to remember that the most effective moves are aimed at these areas.
      </p><br>

        <center><font size = "5">2. The simplest and most effective moves.</font><br><br>
        <img src="/images/img5.jpg"><br></center>
        <p>
            One of the best moves that will make any giant whimper or drop to his knees is grabbing the wrist. 
            Grab his little finger and his ring finger with one hand, and his middle and index finger with 
            the other and bend the wrist forward.If you can’t grab your opponent’s hand, hit him with a fist
            or with a finger between the collarbones or into his Adam’s apple. This will allow you to disorient
            your opponent enough that it will take him a long time to come back to his senses.
      </p><br>
        <center><img src="/images/img6.jpg"></center><br><br>
        <p>The most obvious area for an attack is the groin. 
          All self-defense courses advise aiming for this area.Hitting this area will 
          literally paralyze the attacker and you will have just enough time to escape.</p>
          <br>
        <center><font size = "5">3. If you were grabbed from the front:</font><br><br>
        <img src="/images/img7.jpg"><br></center>
        <p>If you were grabbed from the front and you can’t lift your hands, do the following: 
          move your hands forward and make a fist in front of your pelvis. This will create enough
          room between you and the attacker.After that, hit the attacker’s nose with your forehead. 
          This will make the attacker move away from you. Now hit him in the groin with your knee.
      </p><br>

      <center><img src="/images/img8.jpg"></center><br><br>
      <p>
          If there is still some room between you and the attacker, there is a way you can protect
          yourself using your palm. Straighten your left arm and hit the attacker on his chin and nose 
          with your right arm. Then, hit him in the groin. This way the attacker will be disoriented for 
          a long time and he won’t be able to move.</p><br>
      <center><font size = "5">4. How to free your hands:</font><br><br>
        <img src="/images/img9.jpg"><br></center>
        <p>You can easily escape a stronghold if you remember the “rule of thumb”: 
          rotate your arm to the side of the attacker’s thumb.If he is holding your 
          arm tightly, rotate your wrist toward the thumb. When your arm is under the 
          attacker’s, pull your arm as strongly as you can.
      </p><br>

      <center><font size = "5">5. If you were grabbed from behind:</font>
        <p>Attackers often come from the back because this is the easiest way 
          to hold the victim’s arms so that they can’t move them.</p><br>
        <img src="/images/img10.jpg"><br></center>
        <p>To set yourself free, quickly bend back and try to hit the attacker 
           with the back of your head. It’s OK if you can’t do it: the point is to make 
           the attacker put one of his legs forward.<br>Now quickly bend down, grab his 
           leg and get up pulling it with you. Now the attacker will lose balance and 
           you will be able to drop even the biggest opponent.
      </p><br>

      <center><font size = "5">6. If you were approached and grabbed from the side:</font>
        <p>An elbow hit is one of the most dangerous hits in all kinds of martial arts. 
           This is exactly the hit you need if you are approached from the side.</p>
        <img src="/images/img11.jpg"><br></center>
        <p>Hit the attacker’s temple, jaw, or nose with an arched move.
            After this, the attacker will take a few steps back. Now hit him in his belly or chest.
            Elbow hits are so strong that they will disorient any opponent.
        </p>

      <center><font size = "5">7. If you were pushed against the wall:</font><br>
        <p>It happens very often that attackers try to corner their victims or push them against a wall.
           In this situation, it’s necessary to remember the most vulnerable places and hit one of them 
           depending on your position.</p>
        <img src="/images/img12.jpg"><br></center>
        <p>If both of the attacker’s arms are up, then straighten your palm and hit him in the armpit.
           If one of your arms is down, there is a chance you can hit the opponent in his chest, neck, or jaw.
           But one of the most effective and powerful hits is a hit with your head. Squat a little to be lower than the opponent. Then quickly jump up and hit him in the jaw with your forehead. This move will instantly disorient the attacker and give you a chance to escape.
      </p>
    </section>
    <!--
<div class="footer">
  <p>&copy;2018 Aawaaj All rights reserved</p>
</div>
</div>
-->
</body>
</html>
