<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/stylesheets/nav.css' type="text/css"/>
	<style>
				#pop{
					 height:280px;
					 width:470px;
					 position:fixed;
					 bottom:25%;
					 right:30%;
					 border:2px solid;
					 padding:10px;
					 background:#fff;
					 border-radius:9px;
					 display:none;
					 background:rgb(247, 244, 222);
					}
				#close{
				 right:5px;
				 top:5;
				 float:right;
				}
				h2{
		          text-align: center;
		          font-family:Comic Sans MS;
		          position: absolute;
				    left: 555px;
				    top: 150px;
		        }
		    	h1{
			      text-align: center;
			      font-family:sans-serif; 
			      font-size: 1.5em;
			      position: absolute;
				    left: 500px;
				    top: 100px;
		    	}
		    	.blink{
		    	      background-color: #004A7F;
					  -webkit-border-radius: 10px;
					  border-radius: 10px;
					  border: none;
					  color: #FFFFFF;
					  cursor: pointer;
					  display: inline-block;
					  font-family: Arial;
					  font-size: 20px;
					  padding: 5px 10px;
					  text-align: center;
					  text-decoration: none;
					  animation: glowing 1500ms infinite;


					}

				@keyframes glowing {
					  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
					  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
					  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
                    }

                    .text{
                    	height: 100px;
        				width: 200px;
        				display: block;
   						 margin-left: auto;
    					margin-right: auto;
                    }

                    .name{
                    	display:block;
                    	margin-left: auto;
    					margin-right: auto;
                    }

                    .post{
                    	background-color: rgb(7, 33, 96);
						color: white;
						height:38px;
    					width:57px;
    					display: block;
   						 margin-left: auto;
    					margin-right: auto;

                    }
                
	</style>
                    
</head>

<header>
        <nav>
        <div class="main">
          <div class="logo">
          
            
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/hashtag">Hashtags</a></li>
            <li><a href="/resources">Resources</a></li>
            <li class="active"><a href="/share">Share</a></li>
          </ul>

    
        </div>
      </nav>
      </div>

<body style="background:url(https://images.yourstory.com/2017/02/shout_out.jpg?auto=compress); background-size: 100%;">
	<font color="black" align="center"><h1>SHARE YOUR EXPERIENCES</h1>
  	<h2>you are not alone</h2></font><br/>
	<button class="blink" style="position: absolute; left: 45%; top: 30%;" onclick="document.getElementById('pop').style.display='block';">Share</button>
	<div id="pop">
	<button id="close" onclick="document.getElementById('pop').style.display='none'">X</button><br>
	<h4>Tell us your story. Have you gone through any kind of bad experience? If yes, then do share it.Don't hesitate.</h4><br/>
	<form action="/share" method="post">
	<input class="name" name="Name" placeholder="your full name">
	<textarea class="text" name="experience" placeholder="Share your experience here"></textarea>
	<button class="post">Post</button></form>
	</div>



</body>
</html>