<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/stylesheets/nav.css' type="text/css"/>  
	<link rel='stylesheet' href='/stylesheets/share.css' type="text/css"/>  

</head>
<header>
        <nav>
        <div class="main">
          <div class="logo">
          	<img src="/images/logo.jpg">
          <ul>
            <li><a href="/"><font color = "black">Home</font></a></li>
            <li><a href="/hashtag"><font color = "black">Hashtags</font></a></li>
            <li><a href="/resources"><font color = "black">Resources</font></a></li>
            <li class="active"><a href="/share"><font color = "black">Share</font></a></li>
          </ul>
        </div>
      </nav>
      </div>
      </nav>
      </div>

	<body>
	<font color="black" align="center"><br>
		<h1>SPEAK UP!!!</h1><br>
  	    <h2>you are not alone</h2>
    <br>
	<button class="blink" style="position: absolute; left: 50%; top: 48%;" onclick="document.getElementById('pop').style.display='block';">Share</button></font>
	<div id="pop">
	<button id="close" onclick="document.getElementById('pop').style.display='none'">X</button><br>
	<h4>Tell us your story. Have you gone through any kind of bad experience? If yes, then do share it.Don't hesitate.</h4><br/>
	<form action="/share" method="post">
	<input class="name" name="Name" placeholder="your full name">
	<textarea class="text" name="experience" placeholder="Share your experience here"></textarea>
	<button class="post">Post</button></form>
	</div>



</body>
</html>